.title {
  font-family: "Gideon Roman", cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 3px rgb(189, 99, 245);
  font-size: 60px;
}

.fondo {
  background-color: black;
}

.titulo {
  vertical-align: middle;
  text-align: center;
}

.sub {
  color: #ff3885;
  font-family: "Gideon Roman", cursive;
}

.intro {
  color: rgb(255, 255, 255);
  font-family: "Gideon Roman", cursive;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  border-style: double;
  border-color: aliceblue;
}

.descrip {
  color: white;
  text-align: justify;
  padding: 15px;
  font-size: 18px;
  font-family: "Gideon Roman", cursive;
}

span {
  font-weight: bold;
}

.footer {
  text-align: center;
  font-family: "Gideon Roman", cursive;
  font-size: 15px;
  color: #dac9df;
}

h2 {
  font-family: "Gideon Roman", cursive;
  font-size: 18px;
}

#m1 {
  background-color: #d2b202;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Gideon Roman", cursive;
}

#espacio {
  background-color: #eeca06;
  border-radius: 3px;
  text-align: center;
  width: 100px;
  padding: 10px;
  font-weight: bold;
}

#m2 {
  background-color: #f8e44b;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px rgb(7, 141, 36);
  font-size: 20px;
  font-family: "Gideon Roman", cursive;
}

.b1 {
  width: 40%;
  margin: auto;
  padding: 8px;
  background-color: #ab49cc;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  width: 120px;
}

.b1:hover {
  background: #7f00b2;
}

.b2 {
  width: 40%;
  margin: auto;
  padding: 8px;
  background-color: #ff3885;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  width: 120px;
}

.b2:hover {
  background: #ff0077;
}

.resultado {
  text-align: center;
}

.cuadro {
  text-align: center;
  color: white;
  background-color: #000000;
  font-size: 15px;
}

.julio {
  text-align: center;
}

/* La regla @media para aplicar estilos a un conjunto de elementos HTML solo si la pantalla tiene una anchura mínima de 768px. El valor de 768px haya sido elegido porque es un tamaño de pantalla típico para tabletas y dispositivos móviles en orientación horizontal. */

@media (min-width: 768px) {
  .contenedor {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .julio {
    width: 48%;
    text-align: center;
  }
  .cuadro {
    width: 48%;
    text-align: center;
  }
}
